
# Exclua arquivos compilados e caches
__pycache__/
*.pyc
*.log
Back-End/Tests/
# Back-End/Keys/
Back-End/Agents/JobSearch/Curriculo/
Back-End/Agents/JobSearch/Reports/
Back-End/Agents/TecnicalDoc/example.py
Back-End/Logs/
# Exclua diretórios do controle de versão
.git/
.gitignore
