
Front-End/node_modules/
Back-End/Keys/keys.env
Back-End/Keys/Firebase/FirebaseApp.py
Back-End/Keys/
Back-End/Logs/
Back-End/Reports/
Back-End/AIJobAutomation.py
Pipelines/PullRequest/Internalserver/keys.env
Pipelines/PullRequest/Internalserver/Dev/
Pipelines/PullRequest/Internalserver/Keys/
Pipelines/PullRequest/Internalserver/Production/
Pipelines/PullRequest/Internalserver/_test.py
Back-End/Agents/JobSearch/Curriculo/
Back-End/Agents/JobSearch/Reports/
Back-End/Agents/TecnicalDoc/example.py
Back-End/Saves/

**.env
**__pycache__